.sidebar {
  padding: 1.5rem 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .logo {
  width: 2rem;
  height: 2rem;
}

.sidebar .new-tweet {
  background-color: var(--twitter-blue);
  border: 0;
  font-size: 1.25re;
  border-radius: 9999px;
  width: 100%;
  padding: 1rem;
  font-weight: 900;
  color: #fff;

  display: flex;
  justify-content: center;
}

.sidebar .new-tweet:hover {
  filter: brightness(0.8);
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}
.main-navigation a.active {
  color: var(--twitter-blue);
}

.main-navigation a svg {
  width: 2rem;
  height: 2rem;
}
